
.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu, .Quiz, .EndScreen h1 {
  color: white;
}
@media(max-width:720px){
  .Menu, .Quiz, .EndScreen h1{
    font-size: 18px;
    width: inherit;
    
  }
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;

}